.DS_Store
debug*
datasets/
checkpoints/
results/
build/
dist/
*.png
torch.egg-info/
*/**/__pycache__
torch/version.py
torch/csrc/generic/TensorMethods.cpp
torch/lib/*.so*
torch/lib/*.dylib*
torch/lib/*.h
torch/lib/build
torch/lib/tmp_install
torch/lib/include
torch/lib/torch_shm_manager
torch/csrc/cudnn/cuDNN.cpp
torch/csrc/nn/THNN.cwrap
torch/csrc/nn/THNN.cpp
torch/csrc/nn/THCUNN.cwrap
torch/csrc/nn/THCUNN.cpp
torch/csrc/nn/THNN_generic.cwrap
torch/csrc/nn/THNN_generic.cpp
torch/csrc/nn/THNN_generic.h
docs/src/**/*
test/data/legacy_modules.t7
test/data/gpu_tensors.pt
test/htmlcov
test/.coverage
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
*/*.so*
*/**/*.so*
*/**/*.dylib*
test/data/legacy_serialized.pt
*~
.idea
.vscode/
docs/Dockerfile
docs/calibreq.assets
docs/calibreq.md
docs/calibreq.pdf
docs/datasets.md
docs/docker.md
docs/epeparamters.assets
docs/epeparamters.md
docs/images
docs/newidea.md
docs/overview.md
docs/problems.md
docs/qa.md
docs/stage2dataq.assets
docs/stage2dataq.md
docs/stage2dataq.pdf
docs/stage2questions.assets
docs/stage2questions.md
docs/stage2train.assets
docs/stage2train.md
docs/stage2train.pdf
docs/stage3.assets
docs/stage3.md
docs/stage3.pdf
docs/stage3rec.assets
docs/stage3rec.md
docs/tips.md
docs/workflow.md
